.img-navbar {
  width: 70px;
  margin-right: 20px;
}

.img-jumbotron {
  height: 250px;
  width: 250px;
}

.icon a {
  cursor: pointer;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (max-width: 540px) {
  .img-navbar {
    margin-right: 0;
  }
}